<div data-controller="clipboard">
  <h2 id="prompt" data-target="clipboard.source" class="display-4 mb-4" data-text="Write about <%= @prompt.prompt %>.">
    <strong>Write about <span><%= @prompt.prompt %>.</span></strong>
  </h2>
  <button id="copy-button" data-target="clipboard.button" data-action="clipboard#copy" class="btn btn-light">Copy to clipboard</button>
  <div style="display: none;" id="copied" class="h6 mt-3">Copied!</div>
</div>
