<div class="w-full">
  <h2
    class="w-2/3 mx-auto mb-2 text-xl font-bold md:mb-4 lg:mb-8 md:text-2xl lg:text-4xl text-slate-800 dark:text-slate-50"
  >
    Uh oh!
  </h2>

  <p class="w-2/3 mx-auto mb-2 text-base md:mb-4 lg:mb-8 md:text-xl lg:text-2xl text-slate-800 dark:text-slate-50">
    We can't find the page that you are looking for.
  </p>

  <p class="w-2/3 mx-auto mb-2 text-base md:mb-4 lg:mb-8 md:text-xl lg:text-2xl text-slate-800 dark:text-slate-50">
    Why not try <%= link_to 'heading back', :back, class: 'hover:underline' %> from where you came from?
  </p>
</div>