@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";

@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-VariableFont_wdth,wght.ttf')
}

body {
  font-family: "Open Sans", sans;
}